# 판다스 데이터 프레임 사용하기

## 데이터확인

In [1]:
import pymysql
import pandas as pd

db_conf = {
    "host": "127.0.0.1",
    "user": "test",
    "password": "test11",
    "database": "finance",
}

con = pymysql.connect(**db_conf)
df = pd.read_sql("SELECT * FROM APT_SALE WHERE ym=201912", con)

In [2]:
df.head()

,price,build_y,year,month,day,dong,apt_nm,size,jibun,ji_code,floor,ym,id,collected_time
0,94000,2007,2019,12,26,필운동,신동아블루아광화문의 꿈,107.50,254,11110,7,201912,1,2020-03-07 23:46:09
1,125000,2008,2019,12,3,사직동,광화문풍림스페이스본(101동~105동),126.34,9,11110,4,201912,2,2020-03-07 23:46:09
2,159000,2008,2019,12,16,사직동,광화문풍림스페이스본(106동),153.42,9-1,11110,11,201912,3,2020-03-07 23:46:09
3,130000,2008,2019,12,18,사직동,광화문풍림스페이스본(101동~105동),108.55,9,11110,5,201912,4,2020-03-07 23:46:09
4,155000,2008,2019,12,23,사직동,광화문풍림스페이스본(101동~105동),159.01,9,11110,9,201912,5,2020-03-07 23:46:09

In [3]:
df.head().T

,0,1,2,3,4
price,94000,125000,159000,130000,155000
build_y,2007,2008,2008,2008,2008
year,2019,2019,2019,2019,2019
month,12,12,12,12,12
day,26,3,16,18,23
dong,필운동,사직동,사직동,사직동,사직동
apt_nm,신동아블루아광화문의 꿈,광화문풍림스페이스본(101동~105동),광화문풍림스페이스본(106동),광화문풍림스페이스본(101동~105동),광화문풍림스페이스본(101동~105동)
size,107.5,126.34,153.42,108.55,159.01
jibun,254,9,9-1,9,9
ji_code,11110,11110,11110,11110,11110
floor,7,4,11,5,9
ym,201912,201912,201912,201912,201912
id,1,2,3,4,5
collected_time,2020-03-07 23:46:09,2020-03-07 23:46:09,2020-03-07 23:46:09,2020-03-07 23:46:09,2020-03-07 23:46:09

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70551 entries, 0 to 70550
Data columns (total 14 columns):
price             70551 non-null int64
build_y           70551 non-null int64
year              70551 non-null int64
month             70551 non-null int64
day               70551 non-null int64
dong              70551 non-null object
apt_nm            70551 non-null object
size              70551 non-null float64
jibun             70551 non-null object
ji_code           70551 non-null object
floor             70551 non-null int64
ym                70551 non-null int64
id                70551 non-null int64
collected_time    70551 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(8), object(4)
memory usage: 7.5+ MB

In [5]:
for col in df.columns:
    print("{}: {}".format(col, df[col].duplicated().sum()))

price: 67783
build_y: 70497
year: 70550
month: 70550
day: 70520
dong: 68225
apt_nm: 56764
size: 56840
jibun: 62644
ji_code: 70305
floor: 70485
ym: 70550
id: 68561
collected_time: 70447

In [6]:
df.dtypes

price                      int64
build_y                    int64
year                       int64
month                      int64
day                        int64
dong                      object
apt_nm                    object
size                     float64
jibun                     object
ji_code                   object
floor                      int64
ym                         int64
id                         int64
collected_time    datetime64[ns]
dtype: object

In [7]:
df["price"] = df["price"].astype(str)
df["price"] = df["price"].astype(int)

In [8]:
df.describe()

,price,build_y,year,month,day,size,floor,ym,id
count,70551.000000,70551.000000,70551.0,70551.0,70551.000000,70551.000000,70551.000000,70551.0,70551.000000
mean,36467.473912,2003.358181,2019.0,12.0,15.364091,77.286129,9.652237,201912.0,325.402900
std,30473.419675,9.883875,0.0,0.0,8.774676,26.116017,6.691034,0.0,320.422499
min,550.000000,1961.000000,2019.0,12.0,1.000000,11.880000,-1.000000,201912.0,1.000000
25%,18000.000000,1996.000000,2019.0,12.0,7.000000,59.850000,4.000000,201912.0,99.000000
50%,28900.000000,2004.000000,2019.0,12.0,14.000000,84.250000,9.000000,201912.0,236.000000
75%,45500.000000,2012.000000,2019.0,12.0,23.000000,84.970000,14.000000,201912.0,440.000000
max,565000.000000,2019.000000,2019.0,12.0,31.000000,261.195000,70.000000,201912.0,1990.000000

## 데이터 가공

### 데이터 타입별로 계산하기

In [9]:
df["price_1000"] = df["price"]/1000

In [10]:
df["price_pow"] = df["price"]**2 #제곱

In [11]:
import numpy as np
df["price_log"]=np.log(df["price"])

In [12]:
df["ym"]=df["ym"].astype(str)

In [13]:
df["yy"]=df["ym"].str[0:4]
df["dong"]=df["dong"].str.replace("동","")

### 행 선택 및 수정

In [14]:
df.iloc[4]

price                            155000
build_y                            2008
year                               2019
month                                12
day                                  23
dong                                 사직
apt_nm            광화문풍림스페이스본(101동~105동)
size                             159.01
jibun                                 9
ji_code                           11110
floor                                 9
ym                               201912
id                                    5
collected_time      2020-03-07 23:46:09
price_1000                          155
price_pow                   24025000000
price_log                       11.9512
yy                                 2019
Name: 4, dtype: object

In [15]:
df = df.set_index("apt_nm")
df = df.reset_index()
df = df.reset_index(drop=True)

In [16]:
df[df["price"]>=100000]

,apt_nm,price,build_y,year,month,day,dong,size,jibun,ji_code,floor,ym,id,collected_time,price_1000,price_pow,price_log,yy
1,광화문풍림스페이스본(101동~105동),125000,2008,2019,12,3,사직,126.3400,9,11110,4,201912,2,2020-03-07 23:46:09,125.0,15625000000,11.736069,2019
2,광화문풍림스페이스본(106동),159000,2008,2019,12,16,사직,153.4200,9-1,11110,11,201912,3,2020-03-07 23:46:09,159.0,25281000000,11.976659,2019
3,광화문풍림스페이스본(101동~105동),130000,2008,2019,12,18,사직,108.5500,9,11110,5,201912,4,2020-03-07 23:46:09,130.0,16900000000,11.775290,2019
4,광화문풍림스페이스본(101동~105동),155000,2008,2019,12,23,사직,159.0100,9,11110,9,201912,5,2020-03-07 23:46:09,155.0,24025000000,11.951180,2019
5,경희궁의아침3단지,160000,2004,2019,12,6,내수,149.0000,72,11110,16,201912,6,2020-03-07 23:46:09,160.0,25600000000,11.982929,2019
6,킹스매너,130000,2004,2019,12,12,내수,201.8200,110-15,11110,2,201912,7,2020-03-07 23:46:09,130.0,16900000000,11.775290,2019
7,경희궁의아침4단지,143000,2004,2019,12,14,내수,124.1700,73,11110,3,201912,8,2020-03-07 23:46:09,143.0,20449000000,11.870600,2019
20,아남3,150000,1999,2019,12,10,명륜2가,172.1700,237,11110,8,201912,21,2020-03-07 23:46:09,150.0,22500000000,11.918391,2019
21,아남2,113000,1996,2019,12,10,명륜2가,114.3600,236,11110,3,201912,22,2020-03-07 23:46:09,113.0,12769000000,11.635143,2019
59,경희궁자이(3단지),129000,2017,2019,12,5,평,59.7550,233,11110,7,201912,60,2020-03-07 23:46:09,129.0,16641000000,11.767568,2019
60,경희궁자이(3단지),140000,2017,2019,12,16,평,59.8550,233,11110,4,201912,61,2020-03-07 23:46:09,140.0,19600000000,11.849398,2019
61,경희궁자이(3단지),166500,2017,2019,12,21,평,84.8360,233,11110,4,201912,62,2020-03-07 23:46:09,166.5,27722250000,12.022751,2019
62,경희궁자이(2단지),150000,2017,2019,12,4,홍파,84.9440,199,11110,1,201912,63,2020-03-07 23:46:09,150.0,22500000000,11.918391,2019
63,경희궁자이(2단지),170000,2017,2019,12,7,홍파,84.6140,199,11110,6,201912,64,2020-03-07 23:46:09,170.0,28900000000,12.043554,2019
64,경희궁자이(2단지),160500,2017,2019,12,7,홍파,84.6140,199,11110,2,201912,65,2020-03-07 23:46:09,160.5,25760250000,11.986049,2019
65,경희궁자이(2단지),169000,2017,2019,12,7,홍파,84.8360,199,11110,7,201912,66,2020-03-07 23:46:09,169.0,28561000000,12.037654,2019
66,경희궁자이(2단지),235000,2017,2019,12,16,홍파,116.9860,199,11110,6,201912,67,2020-03-07 23:46:09,235.0,55225000000,12.367341,2019
78,인왕산아이파크,130000,2008,2019,12,13,무악,114.9310,60,11110,7,201912,79,2020-03-07 23:46:09,130.0,16900000000,11.775290,2019
79,인왕산아이파크,106000,2008,2019,12,16,무악,84.8580,60,11110,7,201912,80,2020-03-07 23:46:09,106.0,11236000000,11.571194,2019
80,인왕산아이파크,130000,2008,2019,12,28,무악,114.9310,60,11110,3,201912,81,2020-03-07 23:46:09,130.0,16900000000,11.775290,2019
82,남산 롯데캐슬 아이리스,157000,2011,2019,12,6,회현1가,187.4400,208,11140,16,201912,1,2020-03-07 23:46:09,157.0,24649000000,11.964001,2019
83,남산 롯데캐슬 아이리스,103000,2011,2019,12,6,회현1가,103.4900,208,11140,5,201912,2,2020-03-07 23:46:09,103.0,10609000000,11.542484,2019
84,남산 롯데캐슬 아이리스,115000,2011,2019,12,12,회현1가,113.4600,208,11140,22,201912,3,2020-03-07 23:46:09,115.0,13225000000,11.652687,2019
85,남산 SK LEADERS VIEW,123000,2010,2019,12,17,회현1가,137.5300,206,11140,7,201912,4,2020-03-07 23:46:09,123.0,15129000000,11.719940,2019
86,남산 롯데캐슬 아이리스,160000,2011,2019,12,30,회현1가,187.4400,208,11140,17,201912,5,2020-03-07 23:46:09,160.0,25600000000,11.982929,2019
87,쌍용남산플래티넘,145000,2010,2019,12,2,회현2가,158.9700,87,11140,14,201912,6,2020-03-07 23:46:09,145.0,21025000000,11.884489,2019
88,쌍용남산플래티넘,179500,2010,2019,12,2,회현2가,177.0000,87,11140,25,201912,7,2020-03-07 23:46:09,179.5,32220250000,12.097930,2019
89,쌍용남산플래티넘,170000,2010,2019,12,8,회현2가,177.0000,87,11140,12,201912,8,2020-03-07 23:46:09,170.0,28900000000,12.043554,2019
90,쌍용남산플래티넘,139000,2010,2019,12,11,회현2가,139.8000,87,11140,22,201912,9,2020-03-07 23:46:09,139.0,19321000000,11.842229,2019
95,남산센트럴 자이,120000,2009,2019,12,30,충무로4가,128.9520,306,11140,18,201912,14,2020-03-07 23:46:09,120.0,14400000000,11.695247,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46201,위례롯데캐슬,105000,2016,2019,12,10,학암,75.4800,672,41450,11,201912,354,2020-03-07 23:47:06,105.0,11025000000,11.561716,2019
46202,위례롯데캐슬,110000,2016,2019,12,12,학암,84.9800,672,41450,13,201912,355,2020-03-07 23:47:06,110.0,12100000000,11.608236,2019
46203,위례그린파크 푸르지오,118500,2016,2019,12,13,학암,101.0970,673,41450,6,201912,356,2020-03-07 23:47:06,118.5,14042250000,11.682668,2019
46204,위례신도시신안인스빌아스트로,137000,2017,2019,12,13,학암,96.9940,663,41450,14,201912,357,2020-03-07 23:47:06,137.0,18769000000,11.827736,2019
46205,위례그린파크 푸르지오,118000,2016,2019,12,14,학암,101.0970,673,41450,3,201912,358,2020-03-07 23:47:06,118.0,13924000000,11.678440,2019
46206,위례롯데캐슬,110500,2016,2019,12,14,학암,75.4800,672,41450,16,201912,359,2020-03-07 23:47:06,110.5,12210250000,11.612771,2019
46207,위례롯데캐슬,110000,2016,2019,12,14,학암,84.9800,672,41450,22,201912,360,2020-03-07 23:47:06,110.0,12100000000,11.608236,2019
46208,위례신도시 엠코타운 플로리체,120000,2015,2019,12,14,학암,95.9840,671,41450,4,201912,361,2020-03-07 23:47:06,120.0,14400000000,11.695247,2019
46209,위례롯데캐슬,110000,2016,2019,12,14,학암,84.9800,672,41450,5,201912,362,2020-03-07 23:47:06,110.0,12100000000,11.608236,2019
46210,위례신도시 엠코타운 플로리체,125000,2015,2019,12,15,학암,95.9896,671,41450,6,201912,363,2020-03-07 23:47:06,125.0,15625000000,11.736069,2019
46211,위례신도시 엠코타운 플로리체,108000,2015,2019,12,16,학암,95.9896,671,41450,1,201912,364,2020-03-07 23:47:06,108.0,11664000000,11.589887,2019
46212,위례그린파크 푸르지오,132500,2016,2019,12,18,학암,101.0970,673,41450,17,201912,365,2020-03-07 23:47:06,132.5,17556250000,11.794338,2019
46213,위례그린파크 푸르지오,122700,2016,2019,12,28,학암,101.0970,673,41450,6,201912,366,2020-03-07 23:47:06,122.7,15055290000,11.717498,2019
46214,위례그린파크 푸르지오,110000,2016,2019,12,28,학암,101.9310,673,41450,1,201912,367,2020-03-07 23:47:06,110.0,12100000000,11.608236,2019
46215,위례그린파크 푸르지오,115000,2016,2019,12,30,학암,101.9380,673,41450,6,201912,368,2020-03-07 23:47:06,115.0,13225000000,11.652687,2019
46216,위례신도시신안인스빌아스트로,138000,2017,2019,12,31,학암,96.9940,663,41450,12,201912,369,2020-03-07 23:47:06,138.0,19044000000,11.835009,2019
46217,위례신도시신안인스빌아스트로,138000,2017,2019,12,31,학암,96.9940,663,41450,12,201912,370,2020-02-18 23:07:55,138.0,19044000000,11.835009,2019
48167,성복역 롯데캐슬 골드타운,105000,2019,2019,12,1,성복,84.9126,789,41465,19,201912,791,2020-03-07 23:47:09,105.0,11025000000,11.561716,2019
51075,더샵센트럴시티,100000,2015,2019,12,7,청계,97.0100,519,41590,8,201912,1199,2020-03-07 23:47:13,100.0,10000000000,11.512925,2019
51112,더샵센트럴시티,105500,2015,2019,12,10,청계,97.0360,519,41590,16,201912,1236,2020-03-07 23:47:13,105.5,11130250000,11.566466,2019
51113,동탄역 시범한화 꿈에그린 프레스티지,118000,2015,2019,12,10,청계,124.5200,520,41590,16,201912,1237,2020-03-07 23:47:13,118.0,13924000000,11.678440,2019
51114,동탄역 시범한화 꿈에그린 프레스티지,106800,2015,2019,12,10,청계,124.5200,520,41590,8,201912,1238,2020-03-07 23:47:13,106.8,11406240000,11.578713,2019
51135,동탄역 시범한화 꿈에그린 프레스티지,112500,2015,2019,12,12,청계,113.7200,520,41590,27,201912,1259,2020-03-07 23:47:13,112.5,12656250000,11.630709,2019
51139,동탄역 시범한화 꿈에그린 프레스티지,100000,2015,2019,12,13,청계,113.7200,520,41590,21,201912,1263,2020-03-07 23:47:13,100.0,10000000000,11.512925,2019
51144,동탄역 시범한화 꿈에그린 프레스티지,104900,2015,2019,12,13,청계,101.4000,520,41590,24,201912,1268,2020-03-07 23:47:13,104.9,11004010000,11.560763,2019
51186,동탄역 시범한화 꿈에그린 프레스티지,101500,2015,2019,12,16,청계,113.7200,520,41590,10,201912,1310,2020-03-07 23:47:13,101.5,10302250000,11.527814,2019
51232,더샵센트럴시티,115800,2015,2019,12,21,청계,97.0100,519,41590,19,201912,1356,2020-03-07 23:47:13,115.8,13409640000,11.659620,2019
51247,동탄역 시범한화 꿈에그린 프레스티지,108500,2015,2019,12,23,청계,113.7200,520,41590,33,201912,1371,2020-03-07 23:47:13,108.5,11772250000,11.594505,2019
51266,동탄역 시범한화 꿈에그린 프레스티지,104500,2015,2019,12,27,청계,113.7200,520,41590,9,201912,1390,2020-03-07 23:47:13,104.5,10920250000,11.556942,2019
51288,더샵센트럴시티,119000,2015,2019,12,28,청계,106.5370,519,41590,26,201912,1412,2020-03-07 23:47:13,119.0,14161000000,11.686879,2019

In [17]:
df[(df["price"]>=100000) & (df["size"]<99)]

,apt_nm,price,build_y,year,month,day,dong,size,jibun,ji_code,floor,ym,id,collected_time,price_1000,price_pow,price_log,yy
59,경희궁자이(3단지),129000,2017,2019,12,5,평,59.7550,233,11110,7,201912,60,2020-03-07 23:46:09,129.00,16641000000,11.767568,2019
60,경희궁자이(3단지),140000,2017,2019,12,16,평,59.8550,233,11110,4,201912,61,2020-03-07 23:46:09,140.00,19600000000,11.849398,2019
61,경희궁자이(3단지),166500,2017,2019,12,21,평,84.8360,233,11110,4,201912,62,2020-03-07 23:46:09,166.50,27722250000,12.022751,2019
62,경희궁자이(2단지),150000,2017,2019,12,4,홍파,84.9440,199,11110,1,201912,63,2020-03-07 23:46:09,150.00,22500000000,11.918391,2019
63,경희궁자이(2단지),170000,2017,2019,12,7,홍파,84.6140,199,11110,6,201912,64,2020-03-07 23:46:09,170.00,28900000000,12.043554,2019
64,경희궁자이(2단지),160500,2017,2019,12,7,홍파,84.6140,199,11110,2,201912,65,2020-03-07 23:46:09,160.50,25760250000,11.986049,2019
65,경희궁자이(2단지),169000,2017,2019,12,7,홍파,84.8360,199,11110,7,201912,66,2020-03-07 23:46:09,169.00,28561000000,12.037654,2019
79,인왕산아이파크,106000,2008,2019,12,16,무악,84.8580,60,11110,7,201912,80,2020-03-07 23:46:09,106.00,11236000000,11.571194,2019
130,청구e편한세상,114750,2011,2019,12,1,신당,84.9500,852,11140,4,201912,49,2020-03-07 23:46:09,114.75,13167562500,11.650511,2019
131,남산타운,103000,2002,2019,12,2,신당,84.8800,844,11140,9,201912,50,2020-03-07 23:46:09,103.00,10609000000,11.542484,2019
132,남산타운,100500,2002,2019,12,3,신당,84.8800,844,11140,18,201912,51,2020-03-07 23:46:09,100.50,10100250000,11.517913,2019
133,남산타운,103000,2002,2019,12,3,신당,84.8800,844,11140,9,201912,52,2020-03-07 23:46:09,103.00,10609000000,11.542484,2019
136,청구e편한세상,115000,2011,2019,12,3,신당,84.9500,852,11140,4,201912,55,2020-03-07 23:46:09,115.00,13225000000,11.652687,2019
149,청구e편한세상,120000,2011,2019,12,7,신당,84.9500,852,11140,4,201912,68,2020-03-07 23:46:09,120.00,14400000000,11.695247,2019
151,남산타운,103500,2002,2019,12,7,신당,84.8800,844,11140,14,201912,70,2020-03-07 23:46:09,103.50,10712250000,11.547327,2019
153,약수하이츠,105000,1999,2019,12,9,신당,84.8800,842,11140,11,201912,72,2020-03-07 23:46:09,105.00,11025000000,11.561716,2019
157,남산타운,104000,2002,2019,12,10,신당,84.8800,844,11140,6,201912,76,2020-03-07 23:46:09,104.00,10816000000,11.552146,2019
163,남산타운,102000,2002,2019,12,12,신당,84.8800,844,11140,7,201912,82,2020-03-07 23:46:09,102.00,10404000000,11.532728,2019
165,남산타운,100000,2002,2019,12,12,신당,84.8800,844,11140,8,201912,84,2020-03-07 23:46:09,100.00,10000000000,11.512925,2019
173,남산타운,104500,2002,2019,12,14,신당,84.8800,844,11140,16,201912,92,2020-03-07 23:46:09,104.50,10920250000,11.556942,2019
178,남산타운,108500,2002,2019,12,14,신당,84.8800,844,11140,12,201912,97,2020-03-07 23:46:09,108.50,11772250000,11.594505,2019
187,남산타운,118500,2002,2019,12,20,신당,84.8800,844,11140,16,201912,106,2020-03-07 23:46:09,118.50,14042250000,11.682668,2019
192,청구e편한세상,123000,2011,2019,12,23,신당,84.9500,852,11140,11,201912,111,2020-03-07 23:46:09,123.00,15129000000,11.719940,2019
203,약수하이츠,108500,1999,2019,12,30,신당,84.8800,842,11140,9,201912,122,2020-03-07 23:46:09,108.50,11772250000,11.594505,2019
238,덕수궁롯데캐슬,130000,2016,2019,12,11,순화,82.3212,217,11140,7,201912,157,2020-03-07 23:46:09,130.00,16900000000,11.775290,2019
239,삼성사이버빌리지,105000,2001,2019,12,2,중림,84.9300,200,11140,2,201912,158,2020-03-07 23:46:09,105.00,11025000000,11.561716,2019
242,삼성사이버빌리지,113000,2001,2019,12,11,중림,84.9300,200,11140,3,201912,161,2020-03-07 23:46:09,113.00,12769000000,11.635143,2019
248,LIG 서울역 리가,113800,2012,2019,12,14,만리1가,84.9581,231,11140,1,201912,167,2020-03-07 23:46:09,113.80,12950440000,11.642198,2019
249,서울역센트럴자이,120000,2017,2019,12,7,만리2가,59.9700,176-1,11140,6,201912,168,2020-03-07 23:46:09,120.00,14400000000,11.695247,2019
250,서울역센트럴자이,136500,2017,2019,12,12,만리2가,84.9700,176-1,11140,2,201912,169,2020-03-07 23:46:09,136.50,18632250000,11.824080,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42432,래미안슈르,143000,2008,2019,12,14,원문,84.9460,4,41290,6,201912,12,2020-03-07 23:47:01,143.00,20449000000,11.870600,2019
42433,래미안슈르,159500,2008,2019,12,27,원문,84.9640,4,41290,19,201912,13,2020-03-07 23:47:01,159.50,25440250000,11.979799,2019
42434,래미안슈르,140000,2008,2019,12,7,별양,84.9610,17,41290,12,201912,14,2020-03-07 23:47:01,140.00,19600000000,11.849398,2019
42437,주공9,112000,1982,2019,12,2,부림,54.4800,41,41290,2,201912,17,2020-03-07 23:47:01,112.00,12544000000,11.626254,2019
42438,주공9,112000,1982,2019,12,6,부림,54.4800,41,41290,4,201912,18,2020-03-07 23:47:01,112.00,12544000000,11.626254,2019
42439,주공8,135000,1983,2019,12,25,부림,73.0200,41,41290,13,201912,19,2020-03-07 23:47:01,135.00,18225000000,11.813030,2019
42440,주공8,133000,1983,2019,12,30,부림,73.0200,41,41290,4,201912,20,2020-03-07 23:47:01,133.00,17689000000,11.798104,2019
46148,미사강변센트럴자이,100000,2017,2019,12,11,풍산,91.4459,480,41450,9,201912,301,2020-03-07 23:47:06,100.00,10000000000,11.512925,2019
46153,미사강변센트럴자이,112500,2017,2019,12,16,풍산,96.9876,480,41450,15,201912,306,2020-03-07 23:47:06,112.50,12656250000,11.630709,2019
46154,미사강변센트럴자이,102500,2017,2019,12,16,풍산,91.4459,480,41450,20,201912,307,2020-03-07 23:47:06,102.50,10506250000,11.537618,2019
46176,미사강변더샵리버포레,100500,2016,2019,12,11,선,98.9600,427,41450,7,201912,329,2020-03-07 23:47:06,100.50,10100250000,11.517913,2019
46195,위례롯데캐슬,100000,2016,2019,12,2,학암,75.4800,672,41450,16,201912,348,2020-03-07 23:47:06,100.00,10000000000,11.512925,2019
46197,위례롯데캐슬,103000,2016,2019,12,6,학암,84.9800,672,41450,5,201912,350,2020-03-07 23:47:06,103.00,10609000000,11.542484,2019
46198,위례롯데캐슬,109000,2016,2019,12,6,학암,84.9800,672,41450,15,201912,351,2020-03-07 23:47:06,109.00,11881000000,11.599103,2019
46200,위례롯데캐슬,105000,2016,2019,12,9,학암,75.4800,672,41450,17,201912,353,2020-03-07 23:47:06,105.00,11025000000,11.561716,2019
46201,위례롯데캐슬,105000,2016,2019,12,10,학암,75.4800,672,41450,11,201912,354,2020-03-07 23:47:06,105.00,11025000000,11.561716,2019
46202,위례롯데캐슬,110000,2016,2019,12,12,학암,84.9800,672,41450,13,201912,355,2020-03-07 23:47:06,110.00,12100000000,11.608236,2019
46204,위례신도시신안인스빌아스트로,137000,2017,2019,12,13,학암,96.9940,663,41450,14,201912,357,2020-03-07 23:47:06,137.00,18769000000,11.827736,2019
46206,위례롯데캐슬,110500,2016,2019,12,14,학암,75.4800,672,41450,16,201912,359,2020-03-07 23:47:06,110.50,12210250000,11.612771,2019
46207,위례롯데캐슬,110000,2016,2019,12,14,학암,84.9800,672,41450,22,201912,360,2020-03-07 23:47:06,110.00,12100000000,11.608236,2019
46208,위례신도시 엠코타운 플로리체,120000,2015,2019,12,14,학암,95.9840,671,41450,4,201912,361,2020-03-07 23:47:06,120.00,14400000000,11.695247,2019
46209,위례롯데캐슬,110000,2016,2019,12,14,학암,84.9800,672,41450,5,201912,362,2020-03-07 23:47:06,110.00,12100000000,11.608236,2019
46210,위례신도시 엠코타운 플로리체,125000,2015,2019,12,15,학암,95.9896,671,41450,6,201912,363,2020-03-07 23:47:06,125.00,15625000000,11.736069,2019
46211,위례신도시 엠코타운 플로리체,108000,2015,2019,12,16,학암,95.9896,671,41450,1,201912,364,2020-03-07 23:47:06,108.00,11664000000,11.589887,2019
46216,위례신도시신안인스빌아스트로,138000,2017,2019,12,31,학암,96.9940,663,41450,12,201912,369,2020-03-07 23:47:06,138.00,19044000000,11.835009,2019
46217,위례신도시신안인스빌아스트로,138000,2017,2019,12,31,학암,96.9940,663,41450,12,201912,370,2020-02-18 23:07:55,138.00,19044000000,11.835009,2019
48167,성복역 롯데캐슬 골드타운,105000,2019,2019,12,1,성복,84.9126,789,41465,19,201912,791,2020-03-07 23:47:09,105.00,11025000000,11.561716,2019
51075,더샵센트럴시티,100000,2015,2019,12,7,청계,97.0100,519,41590,8,201912,1199,2020-03-07 23:47:13,100.00,10000000000,11.512925,2019
51112,더샵센트럴시티,105500,2015,2019,12,10,청계,97.0360,519,41590,16,201912,1236,2020-03-07 23:47:13,105.50,11130250000,11.566466,2019
51232,더샵센트럴시티,115800,2015,2019,12,21,청계,97.0100,519,41590,19,201912,1356,2020-03-07 23:47:13,115.80,13409640000,11.659620,2019

In [18]:
df["under_30"]=0
df.loc[df["size"]<99, "under_30"]=1

In [19]:
df.drop(0, inplace=True)

In [20]:
df_nodup = df.drop_duplicates(subset=["floor"], keep="last")

### 열 선택 및 수정하기

In [21]:
con = pymysql.connect(**db_conf)
cur = con.cursor()
df = pd.read_sql("SELECT * FROM APT_LENT LIMIT 10", con)
con.close()

In [22]:
df["apt_nm"]

0                    청호그린빌
1    광화문풍림스페이스본(101동~105동)
2    광화문풍림스페이스본(101동~105동)
3    광화문풍림스페이스본(101동~105동)
4    광화문풍림스페이스본(101동~105동)
5    광화문풍림스페이스본(101동~105동)
6         광화문풍림스페이스본(106동)
7               롯데미도파광화문빌딩
8                       세종
9                       세종
Name: apt_nm, dtype: object

In [23]:
df[["month", "day", "floor"]]

   month  day  floor
0      1   10      3
1      1    9      7
2      1   16      5
3      1   21     13
4      1   23     10
5      1   23     10
6      1   26      3
7      1   10      9
8      1   22     10
9      1   28      4

In [24]:
df.select_dtypes("number")

   build_y  year  bo_price  month  lent_price  day    size  floor      ym  id
0     1999  2015     11000      1           0   10   26.64      3  201501   1
1     2008  2015     75000      1           0    9  158.99      7  201501   2
2     2008  2015     20000      1         200   16  108.55      5  201501   3
3     2008  2015     30000      1         150   21   94.51     13  201501   4
4     2008  2015     20000      1         190   23   97.61     10  201501   5
5     2008  2015     20000      1         140   23   70.80     10  201501   6
6     2008  2015     75000      1           0   26  163.33      3  201501   7
7     1981  2015      2000      1         120   10   93.36      9  201501   8
8     1983  2015     45000      1           0   22  156.74     10  201501   9
9     1983  2015     40000      1           0   28  104.73      4  201501  10

In [25]:
df = df.rename(columns={"dong":"동", "day":"일"})

In [26]:
df.columns=["건축년도","년","동","보증금가격","아파트명","월","월세","거래일","크기","지번","코드","층","년월","id","시간"]

In [27]:
df["평수"] = df["크기"]/3.3

In [28]:
def cla_lent(x):
    """
    월세, 전세10억미만, 전세 10억 이상을 구분합니다.
    """
    if x["월세"]==0 and x["보증금가격"]>=100000:
        cla = "전세 10억이상"
    elif x["월세"]==0 and x["보증금가격"]<100000:
        cla = '전세 10억 미만'
    elif x["월세"]!=0:
        cla = '월세'
        
    return cla

df["전세구분"] = df.apply(cla_lent, 1)

In [29]:
df.head()

,건축년도,년,동,보증금가격,아파트명,월,월세,거래일,크기,지번,코드,층,년월,id,시간,평수,전세구분
0,1999,2015,누상동,11000,청호그린빌,1,0,10,26.64,40,11110,3,201501,1,2020-04-12 22:16:54,8.072727,전세 10억 미만
1,2008,2015,사직동,75000,광화문풍림스페이스본(101동~105동),1,0,9,158.99,9,11110,7,201501,2,2020-04-12 22:16:54,48.178788,전세 10억 미만
2,2008,2015,사직동,20000,광화문풍림스페이스본(101동~105동),1,200,16,108.55,9,11110,5,201501,3,2020-04-12 22:16:54,32.893939,월세
3,2008,2015,사직동,30000,광화문풍림스페이스본(101동~105동),1,150,21,94.51,9,11110,13,201501,4,2020-04-12 22:16:54,28.639394,월세
4,2008,2015,사직동,20000,광화문풍림스페이스본(101동~105동),1,190,23,97.61,9,11110,10,201501,5,2020-04-12 22:16:54,29.578788,월세

In [30]:
import numpy as np

label = ["10평미만", "10평대","20평대", "30평대", "40평대", "50평대", "60평대", "60평대 이상"]
df["평수구분"] = pd.cut(df["평수"], [0,10, 20, 30,40,50, 60,70,np.Inf], labels=label)

In [31]:
df["평수구분"].value_counts()

20평대       4
40평대       3
30평대       2
10평미만      1
60평대 이상    0
60평대       0
50평대       0
10평대       0
Name: 평수구분, dtype: int64

In [32]:
pd.pivot_table(df,values="월세",index=["평수구분","건축년도"],columns="전세구분",aggfunc=np.mean)

전세구분           월세  전세 10억 미만
평수구분  건축년도
10평미만 1999    NaN        0.0
20평대  1981  120.0        NaN
      2008  160.0        NaN
30평대  1983    NaN        0.0
      2008  200.0        NaN
40평대  1983    NaN        0.0
      2008    NaN        0.0

In [33]:
df.columns

Index(['건축년도', '년', '동', '보증금가격', '아파트명', '월', '월세', '거래일', '크기', '지번', '코드',
       '층', '년월', 'id', '시간', '평수', '전세구분', '평수구분'],
      dtype='object')

In [34]:
pd.pivot_table(df,values=["월세","보증금가격"],index=["평수구분","건축년도"],columns="전세구분"
               ,aggfunc={"월세":[np.mean,min,max], "보증금가격":np.median})

              보증금가격               월세                                    \
             median              max             mean              min
전세구분             월세 전세 10억 미만     월세 전세 10억 미만     월세 전세 10억 미만     월세
평수구분  건축년도
10평미만 1999      NaN   11000.0    NaN       0.0    NaN       0.0    NaN
20평대  1981   2000.0       NaN  120.0       NaN  120.0       NaN  120.0
      2008  20000.0       NaN  190.0       NaN  160.0       NaN  140.0
30평대  1983      NaN   40000.0    NaN       0.0    NaN       0.0    NaN
      2008  20000.0       NaN  200.0       NaN  200.0       NaN  200.0
40평대  1983      NaN   45000.0    NaN       0.0    NaN       0.0    NaN
      2008      NaN   75000.0    NaN       0.0    NaN       0.0    NaN



전세구분       전세 10억 미만
평수구분  건축년도
10평미만 1999       0.0
20평대  1981       NaN
      2008       NaN
30평대  1983       0.0
      2008       NaN
40평대  1983       0.0
      2008       0.0

### 그룹별로 요약하기

In [35]:
df.groupby("평수구분").size()

평수구분
10평미만      1
10평대       0
20평대       4
30평대       2
40평대       3
50평대       0
60평대       0
60평대 이상    0
dtype: int64

In [36]:
df.groupby("평수구분")["월세"].mean()

평수구분
10평미만        0.0
10평대         NaN
20평대       150.0
30평대       100.0
40평대         0.0
50평대         NaN
60평대         NaN
60평대 이상      NaN
Name: 월세, dtype: float64

In [37]:
df.groupby("평수구분").agg({"월세":"mean","보증금가격":"max"})

            월세    보증금가격
평수구분
10평미만      0.0  11000.0
10평대       NaN      NaN
20평대     150.0  30000.0
30평대     100.0  40000.0
40평대       0.0  75000.0
50평대       NaN      NaN
60평대       NaN      NaN
60평대 이상    NaN      NaN

In [38]:
df_20=df.groupby("평수구분").get_group("20평대")

In [39]:
df_sq_cla = dict(list(df.groupby("평수구분")))
df_sq_cla["20평대"]

,건축년도,년,동,보증금가격,아파트명,월,월세,거래일,크기,지번,코드,층,년월,id,시간,평수,전세구분,평수구분
3,2008,2015,사직동,30000,광화문풍림스페이스본(101동~105동),1,150,21,94.51,9,11110,13,201501,4,2020-04-12 22:16:54,28.639394,월세,20평대
4,2008,2015,사직동,20000,광화문풍림스페이스본(101동~105동),1,190,23,97.61,9,11110,10,201501,5,2020-04-12 22:16:54,29.578788,월세,20평대
5,2008,2015,사직동,20000,광화문풍림스페이스본(101동~105동),1,140,23,70.80,9,11110,10,201501,6,2020-04-12 22:16:54,21.454545,월세,20평대
7,1981,2015,당주동,2000,롯데미도파광화문빌딩,1,120,10,93.36,145,11110,9,201501,8,2020-04-12 22:16:54,28.290909,월세,20평대

In [40]:
df.dtypes

건축년도              int64
년                 int64
동                object
보증금가격             int64
아파트명             object
월                 int64
월세                int64
거래일               int64
크기              float64
지번               object
코드               object
층                 int64
년월                int64
id                int64
시간       datetime64[ns]
평수              float64
전세구분             object
평수구분           category
dtype: object

In [41]:
df["평수구분"]=df["평수구분"].astype(str)
df_gr=df.groupby(df.dtypes, axis=1)
dict(list(df_gr))

{dtype('int64'):    건축년도     년  보증금가격  월   월세  거래일   층      년월  id
 0  1999  2015  11000  1    0   10   3  201501   1
 1  2008  2015  75000  1    0    9   7  201501   2
 2  2008  2015  20000  1  200   16   5  201501   3
 3  2008  2015  30000  1  150   21  13  201501   4
 4  2008  2015  20000  1  190   23  10  201501   5
 5  2008  2015  20000  1  140   23  10  201501   6
 6  2008  2015  75000  1    0   26   3  201501   7
 7  1981  2015   2000  1  120   10   9  201501   8
 8  1983  2015  45000  1    0   22  10  201501   9
 9  1983  2015  40000  1    0   28   4  201501  10,
 dtype('float64'):        크기         평수
 0   26.64   8.072727
 1  158.99  48.178788
 2  108.55  32.893939
 3   94.51  28.639394
 4   97.61  29.578788
 5   70.80  21.454545
 6  163.33  49.493939
 7   93.36  28.290909
 8  156.74  47.496970
 9  104.73  31.736364,
 dtype('<M8[ns]'):                    시간
 0 2020-04-12 22:16:54
 1 2020-04-12 22:16:54
 2 2020-04-12 22:16:54
 3 2020-04-12 22:16:54
 4 2020-04-12 22:16:54
 5 2020-04-12 22:16:54
 6 2020-04-12 22:16:54
 7 2020-04-12 22:16:54
 8 2020-04-12 22:16:54
 9 2020-04-12 22:16:54,
 dtype('O'):       동                   아파트명   지번     코드       전세구분   평수구분
 0   누상동                  청호그린빌   40  11110  전세 10억 미만  10평미만
 1   사직동  광화문풍림스페이스본(101동~105동)    9  11110  전세 10억 미만   40평대
 2   사직동  광화문풍림스페이스본(101동~105동)    9  11110         월세   30평대
 3   사직동  광화문풍림스페이스본(101동~105동)    9  11110         월세   20평대
 4   사직동  광화문풍림스페이스본(101동~105동)    9  11110         월세   20평대
 5   사직동  광화문풍림스페이스본(101동~105동)    9  11110         월세   20평대
 6   사직동       광화문풍림스페이스본(106동)  9-1  11110  전세 10억 미만   40평대
 7   당주동             롯데미도파광화문빌딩  145  11110         월세   20평대
 8   당주동                     세종  100  11110  전세 10억 미만   40평대
 9   당주동                     세종  100  11110  전세 10억 미만   30평대}

### 데이터 결합하기

In [42]:
import pymysql
import pandas as pd

db_conf = {
    "host": "127.0.0.1",
    "user": "test",
    "password": "test11",
    "database": "finance",
}

con = pymysql.connect(**db_conf)
apt_lent = pd.read_sql("SELECT * FROM APT_LENT WHERE YM=201912", con)
apt_sale = pd.read_sql("SELECT * FROM APT_SALE WHERE YM=201912", con)
con.close()

In [43]:
ji_code = pd.read_excel("./data/KIKcd_B.20181210.xlsx")
ji_code.head()

        법정동코드    시도명 시군구명 읍면동명  동리명      생성일자  말소일자
0  1100000000  서울특별시  NaN  NaN  NaN  19880423   NaN
1  1111000000  서울특별시  종로구  NaN  NaN  19880423   NaN
2  1111010100  서울특별시  종로구  청운동  NaN  19880423   NaN
3  1111010200  서울특별시  종로구  신교동  NaN  19880423   NaN
4  1111010300  서울특별시  종로구  궁정동  NaN  19880423   NaN

In [44]:
ji_code["코드"] = ji_code["법정동코드"].astype(str).str[0:5]

In [45]:
ji_code_nodup = ji_code[["코드","시도명"]].drop_duplicates()

In [46]:
apt_lent.columns=["건축년도","년","동","보증금가격","아파트명","월","월세","거래일","크기","지번","코드","층","년월","id","시간"]
apt_sale.columns=["매매가격","건축년도","년","월","일","동","아파트명","크기","지번","코드","층","년월","id","시간"]

In [47]:
apt_lent = pd.merge(apt_lent, ji_code_nodup, on="코드", how="left")
apt_sale = pd.merge(apt_sale, ji_code_nodup, on="코드", how="left")

In [48]:
apt_sale_gr = apt_sale.groupby("시도명").agg({"매매가격":"mean","id":"size"})
apt_sale_gr.columns = ["매매가격_평균", "매매건수_합"]

In [49]:
apt_lent_j = apt_lent.loc[apt_lent["월세"]==0]

In [50]:
apt_lent_j = apt_lent_j.groupby(["시도명"]).agg({"보증금가격":"mean","id":"size"})
apt_lent_j.columns = ["전세가격_평균", "전세건수_합"]

In [51]:
apt_lent_j.head()

            전세가격_평균  전세건수_합
시도명
강원도    12276.752874    1218
경기도    28279.121042   12822
경상남도   15737.213368    2334
경상북도   13290.089187    1267
광주광역시  19247.330317     884

In [52]:
apt_sido_gr = pd.merge(apt_lent_j, apt_sale_gr, how="inner", left_index=True, right_index=True)

In [53]:
apt_sido_gr["매매전세비율"] = apt_sido_gr["전세가격_평균"] / apt_sido_gr["매매가격_평균"] * 100
apt_sido_gr.sort_values(by="매매전세비율", ascending=False)

              전세가격_평균  전세건수_합       매매가격_평균  매매건수_합     매매전세비율
시도명
전라북도     15111.916570     863  17757.681253    2331  85.100731
경상북도     13290.089187    1267  15818.190000    2400  84.017762
대구광역시    26870.835725    1394  32028.218161    3502  83.897379
충청남도     17171.604775    1508  20646.241695    3281  83.170608
광주광역시    19247.330317     884  24272.013195    2122  79.298450
전라남도     12019.247120     955  15250.796477    1533  78.810619
대전광역시    21333.077150    1698  27212.466566    3320  78.394500
강원도      12276.752874    1218  15784.324477    1769  77.778133
경상남도     15737.213368    2334  20238.667370    3791  77.758150
충청북도     14889.577796    1189  19245.438378    2564  77.366789
인천광역시    23297.511102    2387  32142.726052    4395  72.481441
경기도      28279.121042   12822  39433.315285   21054  71.713780
제주특별자치도  19079.989170     277  27103.886029     272  70.395770
울산광역시    18513.389626     829  26388.619752    1691  70.156718
부산광역시    21849.446536    2815  32884.639377    4947  66.442713
서울특별시    47544.316492   11757  75332.901000    9596  63.112287
세종특별자치시  18421.448575     807  42999.306606    1983  42.841269

### 시계열연산

In [54]:
import pymysql
import pandas as pd

db_conf = {
    "host": "127.0.0.1",
    "user": "test",
    "password": "test11",
    "database": "finance",
}

con = pymysql.connect(**db_conf)
apt_sale = pd.read_sql("SELECT * FROM APT_SALE WHERE YM=201912", con)
con.close()

In [55]:
apt_sale.head()

,price,build_y,year,month,day,dong,apt_nm,size,jibun,ji_code,floor,ym,id,collected_time
0,94000,2007,2019,12,26,필운동,신동아블루아광화문의 꿈,107.50,254,11110,7,201912,1,2020-03-07 23:46:09
1,125000,2008,2019,12,3,사직동,광화문풍림스페이스본(101동~105동),126.34,9,11110,4,201912,2,2020-03-07 23:46:09
2,159000,2008,2019,12,16,사직동,광화문풍림스페이스본(106동),153.42,9-1,11110,11,201912,3,2020-03-07 23:46:09
3,130000,2008,2019,12,18,사직동,광화문풍림스페이스본(101동~105동),108.55,9,11110,5,201912,4,2020-03-07 23:46:09
4,155000,2008,2019,12,23,사직동,광화문풍림스페이스본(101동~105동),159.01,9,11110,9,201912,5,2020-03-07 23:46:09

In [56]:
apt_sale["거래일"]=apt_sale.year.astype(str)+"-"+apt_sale.month.astype(str)+"-"+apt_sale.day.astype(str)
apt_sale["거래일"]= apt_sale["거래일"].astype("datetime64")

In [57]:
apt_sale["거래일"].dt.month

0        12
1        12
2        12
3        12
4        12
5        12
6        12
7        12
8        12
9        12
10       12
11       12
12       12
13       12
14       12
15       12
16       12
17       12
18       12
19       12
20       12
21       12
22       12
23       12
24       12
25       12
26       12
27       12
28       12
29       12
         ..
70521    12
70522    12
70523    12
70524    12
70525    12
70526    12
70527    12
70528    12
70529    12
70530    12
70531    12
70532    12
70533    12
70534    12
70535    12
70536    12
70537    12
70538    12
70539    12
70540    12
70541    12
70542    12
70543    12
70544    12
70545    12
70546    12
70547    12
70548    12
70549    12
70550    12
Name: 거래일, Length: 70551, dtype: int64

In [58]:
apt_sale["주"] = apt_sale["거래일"].dt.week
apt_sale[["거래일", "주"]].head()

         거래일   주
0 2019-12-26  52
1 2019-12-03  49
2 2019-12-16  51
3 2019-12-18  51
4 2019-12-23  52

In [59]:
apt_sale.index = apt_sale["거래일"]

In [60]:
apt_sale["2019"]

,price,build_y,year,month,day,dong,apt_nm,size,jibun,ji_code,floor,ym,id,collected_time,거래일,주
거래일,,,,,,,,,,,,,,,,
2019-12-26,94000,2007,2019,12,26,필운동,신동아블루아광화문의 꿈,107.5000,254,11110,7,201912,1,2020-03-07 23:46:09,2019-12-26,52
2019-12-03,125000,2008,2019,12,3,사직동,광화문풍림스페이스본(101동~105동),126.3400,9,11110,4,201912,2,2020-03-07 23:46:09,2019-12-03,49
2019-12-16,159000,2008,2019,12,16,사직동,광화문풍림스페이스본(106동),153.4200,9-1,11110,11,201912,3,2020-03-07 23:46:09,2019-12-16,51
2019-12-18,130000,2008,2019,12,18,사직동,광화문풍림스페이스본(101동~105동),108.5500,9,11110,5,201912,4,2020-03-07 23:46:09,2019-12-18,51
2019-12-23,155000,2008,2019,12,23,사직동,광화문풍림스페이스본(101동~105동),159.0100,9,11110,9,201912,5,2020-03-07 23:46:09,2019-12-23,52
2019-12-06,160000,2004,2019,12,6,내수동,경희궁의아침3단지,149.0000,72,11110,16,201912,6,2020-03-07 23:46:09,2019-12-06,49
2019-12-12,130000,2004,2019,12,12,내수동,킹스매너,201.8200,110-15,11110,2,201912,7,2020-03-07 23:46:09,2019-12-12,50
2019-12-14,143000,2004,2019,12,14,내수동,경희궁의아침4단지,124.1700,73,11110,3,201912,8,2020-03-07 23:46:09,2019-12-14,50
2019-12-12,30500,2003,2019,12,12,익선동,현대뜨레비앙,48.5400,55,11110,2,201912,9,2020-03-07 23:46:09,2019-12-12,50
2019-12-09,85000,2006,2019,12,9,인의동,효성쥬얼리시티,106.8100,48-2,11110,13,201912,10,2020-03-07 23:46:09,2019-12-09,50
2019-12-14,72000,2006,2019,12,14,인의동,효성쥬얼리시티,84.6400,48-2,11110,11,201912,11,2020-03-07 23:46:09,2019-12-14,50
2019-12-23,68500,2006,2019,12,23,인의동,효성쥬얼리시티,84.9800,48-2,11110,14,201912,12,2020-03-07 23:46:09,2019-12-23,52
2019-12-26,35000,2004,2019,12,26,이화동,송림아마레스아파트,84.4200,9-1,11110,4,201912,13,2020-03-07 23:46:09,2019-12-26,52
2019-12-06,17000,2011,2019,12,6,충신동,CS타워,21.9400,62-2,11110,5,201912,14,2020-03-07 23:46:09,2019-12-06,49
2019-12-06,25000,1999,2019,12,6,동숭동,동성아파트(1동),57.9600,4-161,11110,1,201912,15,2020-03-07 23:46:09,2019-12-06,49
2019-12-13,68500,2006,2019,12,13,명륜1가,건양하늘터,84.7800,23,11110,7,201912,16,2020-03-07 23:46:09,2019-12-13,50
2019-12-03,87500,1995,2019,12,3,명륜2가,아남1,84.9000,4,11110,7,201912,17,2020-03-07 23:46:09,2019-12-03,49
2019-12-08,87500,1995,2019,12,8,명륜2가,아남1,84.9000,4,11110,5,201912,18,2020-03-07 23:46:09,2019-12-08,49
2019-12-08,90000,1995,2019,12,8,명륜2가,아남1,84.8000,4,11110,16,201912,19,2020-03-07 23:46:09,2019-12-08,49
2019-12-10,91000,1995,2019,12,10,명륜2가,아남1,84.9000,4,11110,16,201912,20,2020-03-07 23:46:09,2019-12-10,50
2019-12-10,150000,1999,2019,12,10,명륜2가,아남3,172.1700,237,11110,8,201912,21,2020-03-07 23:46:09,2019-12-10,50
2019-12-10,113000,1996,2019,12,10,명륜2가,아남2,114.3600,236,11110,3,201912,22,2020-03-07 23:46:09,2019-12-10,50
2019-12-12,86500,1995,2019,12,12,명륜2가,아남1,84.9000,4,11110,3,201912,23,2020-03-07 23:46:09,2019-12-12,50
2019-12-28,61500,1996,2019,12,28,명륜2가,아남2,59.4000,236,11110,2,201912,24,2020-03-07 23:46:09,2019-12-28,52
2019-12-30,59500,1999,2019,12,30,명륜2가,아남3,47.4300,237,11110,7,201912,25,2020-03-07 23:46:09,2019-12-30,1
2019-12-31,90000,1995,2019,12,31,명륜2가,아남1,84.9000,4,11110,15,201912,26,2020-03-07 23:46:09,2019-12-31,1
2019-12-06,87000,1999,2019,12,6,창신동,두산,84.9000,232,11110,13,201912,27,2020-03-07 23:46:09,2019-12-06,49
2019-12-09,59500,1992,2019,12,9,창신동,창신쌍용1,79.8700,702,11110,11,201912,28,2020-03-07 23:46:09,2019-12-09,50
2019-12-10,50000,1993,2019,12,10,창신동,창신쌍용2,79.8700,703,11110,15,201912,29,2020-03-07 23:46:09,2019-12-10,50
2019-12-13,55000,1993,2019,12,13,창신동,창신쌍용2,79.8700,703,11110,8,201912,30,2020-03-07 23:46:09,2019-12-13,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-28,11900,1988,2019,12,28,동홍동,주공1,39.6900,147,50130,3,201912,23,2020-03-07 23:47:42,2019-12-28,52
2019-12-30,13000,1988,2019,12,30,동홍동,주공1,39.6900,147,50130,2,201912,24,2020-03-07 23:47:42,2019-12-30,1
2019-12-30,30000,2018,2019,12,30,동홍동,동홍동 파밀리움,76.7005,528-1,50130,1,201912,25,2020-03-07 23:47:42,2019-12-30,1
2019-12-05,10500,1986,2019,12,5,서홍동,"민우아파트 가동,나동",59.0800,349-2,50130,5,201912,26,2020-03-07 23:47:42,2019-12-05,49
2019-12-06,27700,2011,2019,12,6,서홍동,지오빌II,84.6500,305,50130,6,201912,27,2020-03-07 23:47:42,2019-12-06,49
2019-12-09,9500,1986,2019,12,9,서홍동,"민우아파트 가동,나동",59.0800,349-2,50130,5,201912,28,2020-03-07 23:47:42,2019-12-09,50
2019-12-09,28000,2013,2019,12,9,서홍동,지오빌Ⅱ-2차,84.3708,305-2,50130,1,201912,29,2020-03-07 23:47:42,2019-12-09,50
2019-12-10,9000,2000,2019,12,10,서홍동,서홍반석타운,45.3100,2004-1,50130,1,201912,30,2020-03-07 23:47:42,2019-12-10,50
2019-12-28,28000,2011,2019,12,28,서홍동,지오빌II,84.6500,305,50130,2,201912,31,2020-03-07 23:47:42,2019-12-28,52
2019-12-31,14000,1990,2019,12,31,서홍동,세림,81.1600,344-3,50130,3,201912,32,2020-03-07 23:47:42,2019-12-31,1
2019-12-01,6400,2000,2019,12,1,토평동,"토평반석타운(가동,나동)",42.2624,175,50130,5,201912,33,2020-03-07 23:47:42,2019-12-01,48
2019-12-10,27400,2016,2019,12,10,중문동,중문남해오네뜨오션힐,68.9300,1725,50130,2,201912,34,2020-03-07 23:47:42,2019-12-10,50
2019-12-12,29000,2016,2019,12,12,중문동,중문남해오네뜨오션힐,84.8900,1725,50130,1,201912,35,2020-03-07 23:47:42,2019-12-12,50
2019-12-17,12150,2017,2019,12,17,중문동,중문 스마트빌,23.3415,2059-7,50130,6,201912,36,2020-03-07 23:47:42,2019-12-17,51
2019-12-18,25500,2016,2019,12,18,중문동,중문남해오네뜨오션힐,84.8900,1725,50130,1,201912,37,2020-03-07 23:47:42,2019-12-18,51
2019-12-19,22000,2003,2019,12,19,중문동,중문푸른마을,59.9900,1789,50130,4,201912,38,2020-03-07 23:47:42,2019-12-19,51
2019-12-01,45300,2016,2019,12,1,강정동,서귀포강정지구3블럭중흥에스-클래스,84.9297,195,50130,1,201912,39,2020-03-07 23:47:42,2019-12-01,48
2019-12-01,59500,2017,2019,12,1,강정동,제주강정유승한내들퍼스트오션,101.9930,200,50130,4,201912,40,2020-03-07 23:47:42,2019-12-01,48
2019-12-13,42000,2017,2019,12,13,강정동,제주강정유승한내들퍼스트오션,84.9910,200,50130,7,201912,41,2020-03-07 23:47:42,2019-12-13,50
2019-12-21,49000,2016,2019,12,21,강정동,서귀포강정지구3블럭중흥에스-클래스,84.9297,195,50130,1,201912,42,2020-03-07 23:47:42,2019-12-21,51
2019-12-21,45000,2017,2019,12,21,강정동,제주강정유승한내들퍼스트오션,84.9910,200,50130,11,201912,43,2020-03-07 23:47:42,2019-12-21,51
2019-12-27,43500,2017,2019,12,27,강정동,제주강정유승한내들퍼스트오션,84.9921,200,50130,10,201912,44,2020-03-07 23:47:42,2019-12-27,52
2019-12-29,40000,2016,2019,12,29,강정동,서귀포강정지구3블럭중흥에스-클래스,84.9297,195,50130,8,201912,45,2020-03-07 23:47:42,2019-12-29,52
2019-12-13,7800,1996,2019,12,13,남원읍 남원리,에덴,40.0000,1323-2,50130,2,201912,46,2020-03-07 23:47:42,2019-12-13,50
2019-12-04,13000,1991,2019,12,4,성산읍 고성리,동명,70.8600,1132-21,50130,5,201912,47,2020-03-07 23:47:42,2019-12-04,49
2019-12-05,30000,2017,2019,12,5,안덕면 화순리,엘림피렌체3차,84.8200,1092-1,50130,7,201912,48,2020-03-07 23:47:42,2019-12-05,49
2019-12-10,21000,2017,2019,12,10,안덕면 화순리,화순블루팰리스,73.9403,1131,50130,1,201912,49,2020-03-07 23:47:42,2019-12-10,50
2019-12-09,26000,2017,2019,12,9,표선면 표선리,에이원시티빌,81.1100,1549-3,50130,7,201912,50,2020-03-07 23:47:42,2019-12-09,50
2019-12-09,10500,2000,2019,12,9,표선면 표선리,표선반석타운,55.8100,1544-1,50130,3,201912,51,2020-03-07 23:47:42,2019-12-09,50
2019-12-17,39000,2019,2019,12,17,표선면 표선리,세베스트아파트,84.9684,1591-5,50130,4,201912,52,2020-03-07 23:47:42,2019-12-17,51

In [61]:
apt_sale.index.max()

Timestamp('2019-12-31 00:00:00')

In [62]:
apt_sale[:"2019-12"]

,price,build_y,year,month,day,dong,apt_nm,size,jibun,ji_code,floor,ym,id,collected_time,거래일,주
거래일,,,,,,,,,,,,,,,,
2019-12-26,94000,2007,2019,12,26,필운동,신동아블루아광화문의 꿈,107.5000,254,11110,7,201912,1,2020-03-07 23:46:09,2019-12-26,52
2019-12-03,125000,2008,2019,12,3,사직동,광화문풍림스페이스본(101동~105동),126.3400,9,11110,4,201912,2,2020-03-07 23:46:09,2019-12-03,49
2019-12-16,159000,2008,2019,12,16,사직동,광화문풍림스페이스본(106동),153.4200,9-1,11110,11,201912,3,2020-03-07 23:46:09,2019-12-16,51
2019-12-18,130000,2008,2019,12,18,사직동,광화문풍림스페이스본(101동~105동),108.5500,9,11110,5,201912,4,2020-03-07 23:46:09,2019-12-18,51
2019-12-23,155000,2008,2019,12,23,사직동,광화문풍림스페이스본(101동~105동),159.0100,9,11110,9,201912,5,2020-03-07 23:46:09,2019-12-23,52
2019-12-06,160000,2004,2019,12,6,내수동,경희궁의아침3단지,149.0000,72,11110,16,201912,6,2020-03-07 23:46:09,2019-12-06,49
2019-12-12,130000,2004,2019,12,12,내수동,킹스매너,201.8200,110-15,11110,2,201912,7,2020-03-07 23:46:09,2019-12-12,50
2019-12-14,143000,2004,2019,12,14,내수동,경희궁의아침4단지,124.1700,73,11110,3,201912,8,2020-03-07 23:46:09,2019-12-14,50
2019-12-12,30500,2003,2019,12,12,익선동,현대뜨레비앙,48.5400,55,11110,2,201912,9,2020-03-07 23:46:09,2019-12-12,50
2019-12-09,85000,2006,2019,12,9,인의동,효성쥬얼리시티,106.8100,48-2,11110,13,201912,10,2020-03-07 23:46:09,2019-12-09,50
2019-12-14,72000,2006,2019,12,14,인의동,효성쥬얼리시티,84.6400,48-2,11110,11,201912,11,2020-03-07 23:46:09,2019-12-14,50
2019-12-23,68500,2006,2019,12,23,인의동,효성쥬얼리시티,84.9800,48-2,11110,14,201912,12,2020-03-07 23:46:09,2019-12-23,52
2019-12-26,35000,2004,2019,12,26,이화동,송림아마레스아파트,84.4200,9-1,11110,4,201912,13,2020-03-07 23:46:09,2019-12-26,52
2019-12-06,17000,2011,2019,12,6,충신동,CS타워,21.9400,62-2,11110,5,201912,14,2020-03-07 23:46:09,2019-12-06,49
2019-12-06,25000,1999,2019,12,6,동숭동,동성아파트(1동),57.9600,4-161,11110,1,201912,15,2020-03-07 23:46:09,2019-12-06,49
2019-12-13,68500,2006,2019,12,13,명륜1가,건양하늘터,84.7800,23,11110,7,201912,16,2020-03-07 23:46:09,2019-12-13,50
2019-12-03,87500,1995,2019,12,3,명륜2가,아남1,84.9000,4,11110,7,201912,17,2020-03-07 23:46:09,2019-12-03,49
2019-12-08,87500,1995,2019,12,8,명륜2가,아남1,84.9000,4,11110,5,201912,18,2020-03-07 23:46:09,2019-12-08,49
2019-12-08,90000,1995,2019,12,8,명륜2가,아남1,84.8000,4,11110,16,201912,19,2020-03-07 23:46:09,2019-12-08,49
2019-12-10,91000,1995,2019,12,10,명륜2가,아남1,84.9000,4,11110,16,201912,20,2020-03-07 23:46:09,2019-12-10,50
2019-12-10,150000,1999,2019,12,10,명륜2가,아남3,172.1700,237,11110,8,201912,21,2020-03-07 23:46:09,2019-12-10,50
2019-12-10,113000,1996,2019,12,10,명륜2가,아남2,114.3600,236,11110,3,201912,22,2020-03-07 23:46:09,2019-12-10,50
2019-12-12,86500,1995,2019,12,12,명륜2가,아남1,84.9000,4,11110,3,201912,23,2020-03-07 23:46:09,2019-12-12,50
2019-12-28,61500,1996,2019,12,28,명륜2가,아남2,59.4000,236,11110,2,201912,24,2020-03-07 23:46:09,2019-12-28,52
2019-12-30,59500,1999,2019,12,30,명륜2가,아남3,47.4300,237,11110,7,201912,25,2020-03-07 23:46:09,2019-12-30,1
2019-12-31,90000,1995,2019,12,31,명륜2가,아남1,84.9000,4,11110,15,201912,26,2020-03-07 23:46:09,2019-12-31,1
2019-12-06,87000,1999,2019,12,6,창신동,두산,84.9000,232,11110,13,201912,27,2020-03-07 23:46:09,2019-12-06,49
2019-12-09,59500,1992,2019,12,9,창신동,창신쌍용1,79.8700,702,11110,11,201912,28,2020-03-07 23:46:09,2019-12-09,50
2019-12-10,50000,1993,2019,12,10,창신동,창신쌍용2,79.8700,703,11110,15,201912,29,2020-03-07 23:46:09,2019-12-10,50
2019-12-13,55000,1993,2019,12,13,창신동,창신쌍용2,79.8700,703,11110,8,201912,30,2020-03-07 23:46:09,2019-12-13,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-28,11900,1988,2019,12,28,동홍동,주공1,39.6900,147,50130,3,201912,23,2020-03-07 23:47:42,2019-12-28,52
2019-12-30,13000,1988,2019,12,30,동홍동,주공1,39.6900,147,50130,2,201912,24,2020-03-07 23:47:42,2019-12-30,1
2019-12-30,30000,2018,2019,12,30,동홍동,동홍동 파밀리움,76.7005,528-1,50130,1,201912,25,2020-03-07 23:47:42,2019-12-30,1
2019-12-05,10500,1986,2019,12,5,서홍동,"민우아파트 가동,나동",59.0800,349-2,50130,5,201912,26,2020-03-07 23:47:42,2019-12-05,49
2019-12-06,27700,2011,2019,12,6,서홍동,지오빌II,84.6500,305,50130,6,201912,27,2020-03-07 23:47:42,2019-12-06,49
2019-12-09,9500,1986,2019,12,9,서홍동,"민우아파트 가동,나동",59.0800,349-2,50130,5,201912,28,2020-03-07 23:47:42,2019-12-09,50
2019-12-09,28000,2013,2019,12,9,서홍동,지오빌Ⅱ-2차,84.3708,305-2,50130,1,201912,29,2020-03-07 23:47:42,2019-12-09,50
2019-12-10,9000,2000,2019,12,10,서홍동,서홍반석타운,45.3100,2004-1,50130,1,201912,30,2020-03-07 23:47:42,2019-12-10,50
2019-12-28,28000,2011,2019,12,28,서홍동,지오빌II,84.6500,305,50130,2,201912,31,2020-03-07 23:47:42,2019-12-28,52
2019-12-31,14000,1990,2019,12,31,서홍동,세림,81.1600,344-3,50130,3,201912,32,2020-03-07 23:47:42,2019-12-31,1
2019-12-01,6400,2000,2019,12,1,토평동,"토평반석타운(가동,나동)",42.2624,175,50130,5,201912,33,2020-03-07 23:47:42,2019-12-01,48
2019-12-10,27400,2016,2019,12,10,중문동,중문남해오네뜨오션힐,68.9300,1725,50130,2,201912,34,2020-03-07 23:47:42,2019-12-10,50
2019-12-12,29000,2016,2019,12,12,중문동,중문남해오네뜨오션힐,84.8900,1725,50130,1,201912,35,2020-03-07 23:47:42,2019-12-12,50
2019-12-17,12150,2017,2019,12,17,중문동,중문 스마트빌,23.3415,2059-7,50130,6,201912,36,2020-03-07 23:47:42,2019-12-17,51
2019-12-18,25500,2016,2019,12,18,중문동,중문남해오네뜨오션힐,84.8900,1725,50130,1,201912,37,2020-03-07 23:47:42,2019-12-18,51
2019-12-19,22000,2003,2019,12,19,중문동,중문푸른마을,59.9900,1789,50130,4,201912,38,2020-03-07 23:47:42,2019-12-19,51
2019-12-01,45300,2016,2019,12,1,강정동,서귀포강정지구3블럭중흥에스-클래스,84.9297,195,50130,1,201912,39,2020-03-07 23:47:42,2019-12-01,48
2019-12-01,59500,2017,2019,12,1,강정동,제주강정유승한내들퍼스트오션,101.9930,200,50130,4,201912,40,2020-03-07 23:47:42,2019-12-01,48
2019-12-13,42000,2017,2019,12,13,강정동,제주강정유승한내들퍼스트오션,84.9910,200,50130,7,201912,41,2020-03-07 23:47:42,2019-12-13,50
2019-12-21,49000,2016,2019,12,21,강정동,서귀포강정지구3블럭중흥에스-클래스,84.9297,195,50130,1,201912,42,2020-03-07 23:47:42,2019-12-21,51
2019-12-21,45000,2017,2019,12,21,강정동,제주강정유승한내들퍼스트오션,84.9910,200,50130,11,201912,43,2020-03-07 23:47:42,2019-12-21,51
2019-12-27,43500,2017,2019,12,27,강정동,제주강정유승한내들퍼스트오션,84.9921,200,50130,10,201912,44,2020-03-07 23:47:42,2019-12-27,52
2019-12-29,40000,2016,2019,12,29,강정동,서귀포강정지구3블럭중흥에스-클래스,84.9297,195,50130,8,201912,45,2020-03-07 23:47:42,2019-12-29,52
2019-12-13,7800,1996,2019,12,13,남원읍 남원리,에덴,40.0000,1323-2,50130,2,201912,46,2020-03-07 23:47:42,2019-12-13,50
2019-12-04,13000,1991,2019,12,4,성산읍 고성리,동명,70.8600,1132-21,50130,5,201912,47,2020-03-07 23:47:42,2019-12-04,49
2019-12-05,30000,2017,2019,12,5,안덕면 화순리,엘림피렌체3차,84.8200,1092-1,50130,7,201912,48,2020-03-07 23:47:42,2019-12-05,49
2019-12-10,21000,2017,2019,12,10,안덕면 화순리,화순블루팰리스,73.9403,1131,50130,1,201912,49,2020-03-07 23:47:42,2019-12-10,50
2019-12-09,26000,2017,2019,12,9,표선면 표선리,에이원시티빌,81.1100,1549-3,50130,7,201912,50,2020-03-07 23:47:42,2019-12-09,50
2019-12-09,10500,2000,2019,12,9,표선면 표선리,표선반석타운,55.8100,1544-1,50130,3,201912,51,2020-03-07 23:47:42,2019-12-09,50
2019-12-17,39000,2019,2019,12,17,표선면 표선리,세베스트아파트,84.9684,1591-5,50130,4,201912,52,2020-03-07 23:47:42,2019-12-17,51

In [63]:
apt_sale = apt_sale["2019-12-02":"2019-12-29"]

In [64]:
apt_sale = apt_sale.to_period(freq="W-SUN")

In [65]:
# apt_sale = apt_sale.asfreq(freq="D")

In [66]:
apt_sale_w= apt_sale.resample('W-SUN', how=['mean',"size"], kind="period")

/Users/open/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...)..apply(<func>)
  """Entry point for launching an IPython kernel.

In [67]:
apt_sale_w.head()

                              price             build_y         year         \
                               mean   size         mean   size  mean   size
거래일
2019-12-02/2019-12-08  38425.198764  17644  2003.608649  17644  2019  17644
2019-12-09/2019-12-15  39870.368498  17764  2003.643718  17764  2019  17764
2019-12-16/2019-12-22  34369.358767  15308  2002.997910  15308  2019  15308
2019-12-23/2019-12-29  33198.336092  13898  2003.156425  13898  2019  13898

                      month               day              size         \
                       mean   size       mean   size       mean   size
거래일
2019-12-02/2019-12-08    12  17644   4.717694  17644  77.555001  17644
2019-12-09/2019-12-15    12  17764  11.903850  17764  78.000663  17764
2019-12-16/2019-12-22    12  15308  18.694996  15308  77.145654  15308
2019-12-23/2019-12-29    12  13898  25.710462  13898  76.574161  13898

                          floor             ym                 id           주  \
                           mean   size    mean   size        mean   size mean
거래일
2019-12-02/2019-12-08  9.720868  17644  201912  17644  282.961970  17644   49
2019-12-09/2019-12-15  9.692299  17764  201912  17764  320.565132  17764   50
2019-12-16/2019-12-22  9.656781  15308  201912  15308  348.639731  15308   51
2019-12-23/2019-12-29  9.622392  13898  201912  13898  353.422579  13898   52


                        size
거래일
2019-12-02/2019-12-08  17644
2019-12-09/2019-12-15  17764
2019-12-16/2019-12-22  15308
2019-12-23/2019-12-29  13898

In [68]:
apt_sale_w["price"].plot()

/Users/open/anaconda3/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py:211: RuntimeWarning: Glyph 44144 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/Users/open/anaconda3/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py:211: RuntimeWarning: Glyph 47000 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/Users/open/anaconda3/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py:211: RuntimeWarning: Glyph 51068 missing from current font.
  font.set_text(s, 0.0, flags=flags)
/Users/open/anaconda3/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py:180: RuntimeWarning: Glyph 44144 missing from current font.
  font.set_text(s, 0, flags=flags)
/Users/open/anaconda3/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py:180: RuntimeWarning: Glyph 47000 missing from current font.
  font.set_text(s, 0, flags=flags)
/Users/open/anaconda3/lib/python3.7/site-packages/matplotlib/backends/backend_agg.py:180: RuntimeWarning: Glyph 51068 missing from current font.
  font.set_text(s, 0, flags=flags)